<a class="navbar-brand">
    Angular CRUD
</a>

<div class="container  bg-light text-white p-3">
    <div class="row">
        <div class="col-md-12 mt-2">
            <ul class="list-group" style="max-height: 150px; overflow-y: auto;">
                <li
                   *ngFor="let tablatdu of tablatduArray"
                   class="list-group-item list-group-item-action"
                   (click)="openForEdit(tablatdu)"
                   [class.bg-primary]="tablatdu == selectedTablatdu"
                   [class.text-white]="tablatdu == selectedTablatdu"
                >
                  <span class="badge badge-primary">{{ tablatdu.id }}</span>
                  {{ tablatdu.nombreCorto }} - {{ tablatdu.descripcionLarga }}
                </li>
              </ul>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title" *ngIf="selectedTablatdu.id ==0">
                        Insert A new Employee
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedTablatdu.nombreCorto" placeholder="Insert a name" class="form-group">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedTablatdu.descripcionLarga" placeholder="Insert a country" class="form-group">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

