<app-header></app-header>

<div class="div container">
            
    <button type="button" class="btn btn-dark" (click)="salir()">Salir</button>

    <div class="container">

        <form [formGroup]="nuevoForm" (ngSubmit)="postForm()">
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombres-</label>
                <input type="text" class="form-control" placeholder="Nombre del Socio" formControlName="nombres">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Apellido Paterno:</label>
                <input type="text" class="form-control" placeholder="Nombre del Socio" formControlName="apePaterno">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Apellido Materno:</label>
                <input type="text" class="form-control" placeholder="Nombre del Socio" formControlName="apeMaterno">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Correo:</label>
                <input type="text" class="form-control" placeholder="Nombre del Socio" formControlName="correo">
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="exampleFormControlInput1">Celular:</label>
                    <input type="text" class="form-control" placeholder="Nombre del Socio" formControlName="celular">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Fecha de Nacimiento:</label>
                    <input type="text" class="form-control" placeholder="Nombre del Socio" formControlName="fecNacimiento">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Tipo Socio:</label>
                    <input type="number" class="form-control" placeholder="Nombre del Socio" formControlName="tipoSocio">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">foto:</label>
                <input type="text" class="form-control" placeholder="Foto del Socio" formControlName="foto">
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>
            
            <button type="button" class="btn btn-dark" (click)="salir()">Salir</button>

        </form>
    </div>
    

</div>

<app-footer></app-footer>