<div class="container-fluid">
    <h3>MAESTRO DE LEYES</h3><br>
    <button type="button" class="btn btn-primary" (click)="nuevaLey()">Nueva Ley</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha publicacion</th>
                <th scope="col">Pais</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ley of LeyCamposArray">
                <th scope="row">{{ ley.id }}</th>
                <td>{{ ley.nombre }}</td>
                <td>{{ ley.descripcion }}</td>
                <td>{{ ley.fechapublicacion }}</td>
                
                <td>{{ ley.descripcionpais }}</td>
                <td>
                    <button type="button" class="btn btn-danger me-1" (click)="deleteLey(ley.id); $event.stopPropagation()">D</button>
                    <button type="button" class="btn btn-primary" (click)="editarLey(ley.id); $event.stopPropagation()">U</button>
                    <button type="button" class="btn btn-primary" (click)="irDelito(ley.id); $event.stopPropagation()">I</button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>