
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/CRISOL.jpg" id="icon" alt="User Icon" />
      <p>v{{ version }}</p>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second" placeholder="Ingrese su login" formControlName="usuario">
      <input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <button type="button" class="btn btn-primary" (click)="nuevoUsuario(loginForm.value)">Nuevo Usuario</button>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorStatus">
      <p>{{ errorMsj }}</p>
    </div>

  </div>
</div>