<!-- src/app/components/menu/menu.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mi App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <ng-container *ngFor="let item of menuItems">
          <li class="nav-item" *ngIf="!item.children">
            <a class="nav-link" [routerLink]="item.path">{{ item.label }}</a>
          </li>
          <li class="nav-item dropdown" *ngIf="item.children">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.label }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" *ngFor="let child of item.children" [routerLink]="child.path">{{ child.label }}</a>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
  
  
  
