<p>main works!</p>

<div [ngStyle]="{
    'padding': '20px',
    'border': '5px solid black'
  }">
<h1>
Bienvenido
</h1>
<nav>
<a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
&nbsp;
<a [routerLink]="['/tiposocio']" [routerLinkActive]="['active']">TipoSocio</a>
&nbsp;
<a [routerLink]="['/Socios']" [routerLinkActive]="['active']">Socios</a>
</nav>
<hr>

<button type="button" class="btn btn-success" (click)="showData()">data</button>
<button type="button" class="btn btn-danger" (click)="logOut()">close</button>
