# Dependencias
/node_modules/

# Archivos de configuración de entorno
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorio opcional npm-cache
.npm

# Directorios de salida de compilación
/dist
/build
/out

# Archivos temporales creados por editores y sistemas operativos
*.swp
*~
.DS_Store

# Archivos temporales de TypeScript
*.tsbuildinfo

# Archivos de configuración del IDE
/.vscode/
/.idea/
*.sublime-workspace

# Archivos de cobertura
/coverage
.nyc_output

# Archivos de paquete
*.tgz
*.lock
yarn.lock

# Archivos compilados de Babel
babel.config.js
